<!DOCTYPE HTML>
<html>
	<head>
		<title> Verbose-Fiesta!: New Character Wizard </title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div>
			<h1> Enter Your Base Ability Scores </h1>
			<h3> (Overrides Come Later!) </h3>
		</div>
		<div>
			<form>
				<div> Strength(STR): <input type='text' name='str'/> </div>
				<div> Dexterity(DEX): <input type='text' name='dex'/> </div>
				<div> Constitution(CON): <input type='text' name='con'/> </div>
				<div> Intelligence(INT): <input type='text' name='int'/> </div>
				<div> Wisdom(WIS): <input type='text' name='wis'/> </div>
				<div> Charisma(CHA): <input type='text' name='cha'/> </div>
				<div> Constitution(CON): <input type='text' name='con'/> </div>
				<div> Enter any additional details you wish about your character! (Appearance, Personality, Backstory, Flavor stuff!):
					<div> <textarea> </textarea> </div>
				</div>
			</form>
		</div>
		<footer>
			<h6>All information &copy; Wizards of the Coast</h6>
			<h6>App and Code &copy; Jake Wysor and Michael Dorsey 2017 </h6>
		</footer>
	</body>
</html>