<!DOCTYPE HTML>
<html>
	<head>
		<title> New Character Wizard </title>
		<link href="stylesheets/style.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		<div>
			<h1> Create Your Character </h1>
		</div>
		<div>
			<form>
				<div> Character Name: <input type='text' name='charName'/> </div>
				<div> Player Name: <input type='text' name='playerName'/> </div>
				<div> Identity: <input type='text' name='identity'/> </div>
				<div>
					Class: <select name='class'>
						<option value='barbarian'> Barbarian </option>
						<option value='bard'> Bard </option>
						<option value='cleric'> Cleric </option>
						<option value='druid'> Druid </option>
						<option value='fighter'> Fighter </option>
						<option value='monk'> Monk </option>
						<option value='paladin'> Paladin </option>
						<option value='ranger'> Ranger </option>
						<option value='rogue'> Rogue </option>
						<option value='sorcerer'> Sorcerer </option>
						<option value='wizard'> Wizard </option>
					</select>
				</div>
				<div> Level: <input type='text' name='level'/> </div>
				<div>
					Gender:	<select name='gender'>
						<option value='male'> Male </option>
						<option value='female'> Female </option>
						<option value='other'> Other </option>
					</select>
				</div>
				<div>
					Alignment: <select name='lvc'>
						<option value='lawful'> Lawful </option>
						<option value='neutralOne'> Neutral </option>
						<option value='chaotic'> Chaotic </option>
					</select>
					<select name='gve'>
						<option value='good'> Good </option>
						<option value='neutralTwo'> Neutral </option>
						<option value='evil'> Evil </option>
					</select>
				</div>
				<div> Deity: <input type='text' name='deity'/> </div>
				<div>
					Race: <select name='race'>
						<option value='dwarf'> Dwarf </option>
						<option value='elf'> Elf </option>
						<option value='gnome'> Gnome </option>
						<option value='halfElf'> Half-Elf </option>
						<option value='halfOrc'> Half-Orc </option>
						<option value='halfling'> Halfling </option>
						<option value='human'> Human </option>
					</select>
				</div>
				<div> Age: <input type='text' name='age'/> </div>
				<div> Height: <input type='text' name='height'/> </div>
				<div> Weight: <input type='text' name='weight'/> </div>
				<div> Eyes:	<input type='text' name='eyes'/> </div>
				<div> Hair:	<input type='text' name='hair'/> </div>
			</form>
		</div>
		<footer>
			<h6>All information &copy; Wizards of the Coast</h6>
			<h6>App and Code &copy; Jake Wysor and Michael Dorsey 2017 </h6>
	</body>
</html>
